.actions {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;

    .btn {
        display: inline-flex;
        padding: 8px;
        
        span {
            font-size: 20px;
        }
    }
}